<!DOCTYPE html>
<html>
<head>
    <title>Biblioteca</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="contenido">
        <%- body %>
    </div>

    <script src="/js/main.js"></script>
</body>
</html>