<h1>Crear Nueva Categoría </h1>

<div class="formulario">
    <form action="/temas" method="POST">
        <div class="campo">
            <label>Nombre:</label>
            <input type="text" name="nombre" required>
        </div>

        <div class="botones">
            <button type="submit">Guardar</button>
            <a href="/temas">Cancelar</a>
        </div>
    </form>
</div>