<h1>Categorías</h1>

<div class="boton-crear">
    <a href="/temas/crear">Crear Nueva Categoría</a>
</div>

<div class="lista-temas">
    <% temas.forEach(function(tema) { %>
        <div class="tema">
            <h2><%= tema.nombre %></h2>
            
            <div class="votos">
                <p>Votos: <%= tema.votos %></p>
                <form action="/temas/<%= tema.id %>/votar" method="POST">
                    <button type="submit"> Votar </button>
                </form>
            </div>

            <div class="acciones">
                <a href="/temas/<%= tema.id %>/libros">Ver Libros</a>
            </div>
        </div>
    <% }) %>
</div>